---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$mono-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;

$text-color:        #777;
$primary-color:	    #b33;

$status-green:  #81f300;
$status-yellow: #ffee40;
$status-red:    #ff3e21;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
