---
layout: default
---

<div>
  <div class="hero">
    <div class="container">
      <img src="/images/rust-9000.png" style="float:right;width:300px;">
      <h1 style="padding-top: 40px;">Are we <strong>learning</strong> yet?</h1>
      <p style="margin-top: 60px;">
        The comprehensive guide to
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        the state of <b style="color: #f4f846">machine learning in Rust</b>
      </p>
    </div>
  </div>

  <div class="tldr-headline">
    <div class="container">
        You can accomplish a lot,
        <br>
        <!--<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        but the ecosystem isn't mature yet.</div>
    </div>
  </div>

  <div class="container">

    <h3>State of Frameworks</h3>
    {% for post in site.frameworks %}
      {% assign mod3 = forloop.index0 | modulo:3 %}
      {% assign mod4 = forloop.index0 | modulo:4 %}
      {% assign mod8 = forloop.index0 | modulo:8 %}
      {% if mod4 == 0 %}
        <div class="row">
      {% endif %}
        <div class="column column-20 {% if mod8 == 1 || mod8 == 6 %}column-offset-20{% endif %}">
          <a href="{{post.url | prepend: site.baseurl }}"><div class="tile tile-{{post.color}}">
            {{ post.title }}
          </div></a>
        </div>
      {% if mod4 == 3 || forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
