<footer class="site-footer">
  <div class="container">

    <nav class="site-nav" style="text-align: center; font-size: smaller;">
      {% assign pages = site.pages | sort: "navindex" %}
      {% for page in pages %}
        {% if page.navindex && page.title %}
          <span style="padding: 15px;">
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </span>
        {% endif %}
      {% endfor %}
    </nav>

    <div style="text-align: center; font-size: small;">Are we learning yet? - Last updated: <a href="https://travis-ci.org/anowell/are-we-learning-yet">{{ site.time | date: '%Y-%m-%d'}}</a> </div>

  </div>
</footer>
