<footer class="site-footer">
  <div class="container">

    <nav class="site-nav" style="text-align: center; font-size: smaller;">
      <span style="padding: 15px;">
        <a class="page-link" href="https://rust-ml.zulipchat.com" target="_blank">Chat</a>
      </span>
      <span style="padding: 15px;"><a class="page-link" href="/about">About</a></span>
    </nav>

    <div style="text-align: center; font-size: small;">Are we learning yet? - Last updated: <a href="https://github.com/anowell/are-we-learning-yet/actions/workflows/pages/pages-build-deployment">{{ site.time | date: '%Y-%m-%d'}}</a> </div>

  </div>
</footer>
