<header class="site-header">

  <div class="container">

    {% if page.url != '/' %}
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="/images/rust-9000.png" style="vertical-align:middle;">
        {{ site.title }}
      </a>
    {% else %}
      &nbsp;
    {% endif %}
    <nav class="site-nav" style="float:right;">
      {% assign pages = site.pages | sort: "navindex" %}
      {% for page in pages %}
        {% if page.navindex && page.title %}
          <span class="site-nav-link">
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </span>
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
