<header class="site-header">

  <div class="container">
    <a class="site-title" href="{{ site.base_url }}/">
      <img src="/images/rust-9000.png" style="vertical-align:middle;">
      {{ site.title }}
    </a>    
  </div>

</header>
