// body:before {
//     content: "";
//     position: absolute;
//     width: 400px;
//     height: 400px;
//     top: -50px;
//     right: -50px;
//     z-index: -1;
//     transform: rotate(30deg);
//     opacity: 0.3;
//     background-image: url("/images/rust-logo-quad.png");
//     background-size: 400px 400px;
//     background-repeat: no-repeat;
//     background-position: right top;
// }

html {
  height: 100%;
}

body {
    font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #eee;
    min-height: 100%;
}

h1 {
    padding-top: 40px;
    letter-spacing: -0.3rem;
}
h1 strong {
    color: $primary-color;
}

.site-header {
    padding: 5px 0;
    font-size: 2rem;
    line-height: 40px;
    img { width: 3  0px; height: 30px; }
    background-color: #333;
}

.site-nav-link {
  padding-left: 20px;
}

.hero {
    padding: 40px;
    min-height: 400px;
    margin-bottom: 40px;
    background-color: #333;
    color: #ccc;
    margin-bottom: 0px;
}

.tldr-headline {
    letter-spacing: -0.15rem;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.75rem;
    padding-bottom: 40px;
    // background-color: #333;
}

.page-content {
    // padding-top: 40px;
}

.container {
    max-width: 80.0rem;
}

.tiles {
    font-weight: bold;
    flex-wrap: wrap;
    a, a:hover, a:visited, a:active {
        color: $text-color;
    }
}

.tile {
    height: 130px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 4px 1px 1px 1px;
    border-style: solid;
}

a:hover .tile {
    background-color: #393939;
}

.tile-green {
    border-color: #81f300;
}

.tile-yellow {
    border-color: #ffee40;
}


.tile-red {
    border-color: #ff3e21;
}