---
layout: default
---
<article class="container post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% assign crates = site.data.crates_generated | where_exp:"item", "item.topics contains page.crate_tag" | sort: 'stargazers_count' | reverse %}
  {% for crate in crates %}
    <div>
      <hr>
      <h3>
        {%if crate.name %}{{crate.name}}{% else %}{{crate.github}}{% endif %}
        <span style="font-size: small; vertical-align:middle;">
          [
          {%if crate.name %}<a href="https://crates.io/crates/{{crate.name}}">crate</a> &middot;{% endif %}
          {%if crate.repository %}<a href="{{crate.repository}}">repo</a> &middot;{% endif %}
          {%if crate.documentation %}<a href="{{crate.documentation}}">docs</a>{% endif %}
          ]
        </span>
      </h3>

      <div style="line-height:1;">
        {%if crate.name %}
          <img src="https://img.shields.io/crates/v/{{crate.name}}.svg?maxAge=2592000">
          <img src="https://img.shields.io/crates/d/{{crate.name}}.svg?maxAge=2592000">
        {% endif %}
        {%if crate.github %}
          <img src="https://img.shields.io/github/stars/{{crate.github}}.svg?style=social&amp;label=Star&amp;maxAge=2592000">
        {% endif %}
      </div>

      <p>{{crate.description}}</p>

      <div style="font-size: small;">

        {%if crate.license %}
          <span class="crate-stat"><b>License</b>: {{crate.license}}</span>
        {% endif %}
        {%if crate.github %}
          <span class="crate-stat"><b>Last Commit</b>: {{crate.last_commit | date: "%d %b %Y"}}</span>
        {% endif %}
        {%if crate.name %}
          <span class="crate-stat"><b>Last Published</b>: {{crate.updated_at | date: "%d %b %Y"}}</span>
        {% endif %}
        {%if crate.github %}
          <span class="crate-stat"><b>Contributors</b>: {{crate.contributor_count}}</span>
          <span class="crate-stat"><b>Open Issues</b>: {{crate.open_issues_count}}</span>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <div class="followup">
    Do you know of a crate that is missing?
    <a href="https://github.com/anowell/are-we-learning-yet/issues/new?title=Add+crate:+CRATE&amp;body=Please+add+crate+to+category:+{{ page.title | url_encode }}+%0A%0APro-tip%3a+a+quick+PR+to+_data/crates.yaml+often+gets+merged+quicker." target="_blank">
      Create an issue
    </a>
    or a PR.
    <br>
    Looking for something you didn't find? Try asking
    <a href="/irc/">on IRC</a>.
  </div>


</article>
